<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>View gossip number <%= number %></h1>
      <p>
       <h2>Author: <%= gossip.author %></h2>
       <h3>Content:</h3>
       <%= gossip.content %>
      </p>
    <a href="/">Retour</a>
  </body>
</html>